* {
  margin: 0;
  padding: 0;
}

/* Estilos globales */

body {
  background-color: #27272a;
  color: #ffffff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

.titulo-principal {
  font-size: 40px;
  margin: 10px 0;
}

.link-style {
  background-color: #000000;
  border: #000000;
  border-radius: 10px;
  padding: 0.5em 1em;
  width: fit-content;
}

.link-style-icon {
  background-color: #000000;
  border: #000000;
  border-radius: 50%;
  padding: 0.5em 1em;
  transition: 0.3s;
}

.link-style-contacto {
  display: flex;
  align-items: center;
  gap: 1em;
}

.link-style-contacto a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 10px;
  
}

.link-style-contacto a img {
  width: 100%;
  transition: 0.3s;
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 2em;
}

.links {
  display: flex;
  gap: 1em;
}

.links a {
  padding: 5px;
  border-radius: 5px;
}

/* Main */

.section-1 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

.section-1 .links-contacto {
  display: flex;
  margin-top: 10px;
  gap: 1em;
}

.section-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

.proyectos {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.container-proyecto {
  display: flex;
  flex-direction: column;
  background-color: #52525b;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  overflow: hidden;
}

.container-img {
  overflow: hidden;
  border-radius: 10px
}

.container-proyecto img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.3s;
  object-fit: cover;
}

.detalles-proyecto {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-3 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  padding: 2em;
  gap: 1em;
}

.footer .links-contacto {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer .links-contacto .icons {
  display: flex;
  gap: 1em;
}

.footer-link-text {
  border: #ffffff;
  margin-bottom: 5px;
}

.link-gmail .link-style-contacto {
  background-color: #000000;
  border: #000000;
  border-radius: 10px;
  width: fit-content;
  cursor: pointer;
}

.link-gmail .link-style-icon {
  background-color: transparent;
}
.copy-button {
  color: #ffffff;
  border: #000000;
  border-radius: 10px;
  padding: 1em;
}

/* Hover & Focus */
.link-gmail .link-style-contacto:hover,
.link-style-icon:hover,
.link-gmail .link-style-contacto:focus,
.link-style-icon:focus, 
.links a:hover,
.links a:focus {
  background-color: #1b1b1b;
}

.container-proyecto img:hover, .link-style-contacto img:hover {
  transform: scale(1.1);
}

/* Responsive */

@media (min-width: 1250px) {
  body {
    padding: 0 10vw;
  }

  .container-proyecto {
    width: 600px;
  }
}

@media (max-width: 1249px) {
  .section-1 .links-contacto {
    justify-content: center;
  }

  .footer {
    align-items: center;
  }

  .footer .links-contacto {
    align-items: center;
  }
}

@media ((max-width: 450px)) {
  .link-gmail .link-style-contacto .name-gmail {
    display: none;
  }
}
